.dynoUri, .dynoUriUpdate {
    display: none;
}

.dynoInputTextbox, .dynoInputRich {
    /*position: absolute;*/
    z-index: 1000;
    border: 1px solid #000000;
    /*padding: 5px;*/
    /*display: none;*/
}

.dynoShowHideButton {
    position: absolute;
    z-index: 1000;
}

.dynoShowHideButton {
    cursor: pointer;
}

.dynoButtons {
    margin: 10px;
}

.dynoEditor {
    position: absolute;
}



/* resizable textarea */
div.grippie {
background:#EEEEEE url('/simvc/img/grippie.png') no-repeat scroll center 2px;
border-color:#DDDDDD;
border-style:solid;
border-width:0pt 1px 1px;
cursor:s-resize;
height:9px;
overflow:hidden;
}
.resizable-textarea textarea {
display:block;
width: 100%;
}

.syntaxhighlighter .toolbar {
    display: none;
}

.syntaxhighlighter {
    /*overflow: hidden !important;*/
}